.post {
  position: relative;
  width: 90%;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2),
    0 4px 20px 0 rgba(79, 19, 97, 0.19);
  margin: 10px 10px 10px 20px;
  float: left;
  border-radius: 15px;
}

.post-left {
  width: 15%;
  max-width: 15%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  color: #000;
}
.post-content {
  width: 75%;
  display: table-cell;
  text-align: left;
  background-color: #e8e8e8;
  color: #000000;
  border-radius: 0 15px 15px 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: none;
  text-overflow: ellipsis;
  height: 100%;
  overflow: hidden;
}
.post-title {
  font-family: "Itim", cursive;
  font-weight: bold;
  color: #2b312b;
  font-size: 25px;
  height: 25px;
}
.post-more {
  float: right;
  cursor: pointer;
  font-size: 18px;
  margin-right: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 10px;
  font-size: 30px;
}
.post-desc {
  height: 100px;
  margin-bottom: 0 !important;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0 !important;
  color: black;
  background-color: orange;
  background-size: 2000% 2000%;
}
.allPostsContainer {
  height: 100%;
  width: 100%;
}

i,
h2 {
  float: right;
  cursor: pointer;
  color: black;
}

h5 {
  font-weight: bold;
  text-align: center;
}

#yesbtn {
  width: 40%;
  background-color: red;
  color: white;
  padding: 5px;
  outline: none;
}

#nobtn {
  width: 40%;
  background-color: lightgreen;
  color: white;
  padding: 5px;
  outline: none;
}

.modal-header {
  margin: 0% 5%;
  padding: 0px;
  text-align: center;
}

/* .modal-title {
  margin-left: 20%;
} */

.modal-content {
  width: 80%;
  margin-top: 5%;
  margin-right: 0%;
  margin-left: 10%;
}

.close {
  padding: 0px;
  margin-left: 90%;
  margin-top: 2%;
}

/* #ModalSignIn {
  margin-left: 10%;
} */

/* #ModalCreatePost {
  margin-left: 25%;
} */

.input {
  background-color: lightgray;
  border: 1px solid lightgray;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 5px;
}

.field {
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: bold;
}
.submitBtn {
  margin-top: 20px;
  border-radius: 0px;
  margin-bottom: 5%;
}

.postButtons {
  position: absolute;
  top: 42%;
  right: 43%;
}

.postBtn {
  padding: 5px;
  background-color: goldenrod;
  font-weight: bold;
  font-size: 0.8rem;
}
