/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */

.main-container-div {
  display: inline-flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

#scribbler {
  margin-top: 0px;
  margin-left: 5px;
  margin-bottom: 0px;
  font-family: "satisfy", "cursive";
  color: blue;
  font-size: 2em;
}

small {
  margin-left: 5px;
  margin-top: 0px;
  position: relative;
  top: -10px;
  font-family: "marck script", "cursive";
}

.signInUpButtons {
  margin-top: 5px;
  margin-right: 1%;
}

.ssButton {
  padding: 5px 10px;
  background-color: blue;
  color: white;
  font-size: 0.8rem;
}
