body {
  background: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  margin: 0 !important;
  background-size: 100% cover !important;
  overflow: hidden;
  display: block;
}

/* Set a style for the rest of the elements besides the header elements on the index.html page */
.postButtons {
  position: absolute;
  top: 42%;
  right: 43%;
}

.postBtn {
  padding: 5px;
  background-color: goldenrod;
  font-weight: bold;
  font-size: 0.8rem;
}

.input {
  background-color: lightgray;
  border: 1px solid lightgray;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 5px;
}

.field {
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: bold;
}
.submitBtn {
  margin-top: 20px;
  border-radius: 0px;
  margin-bottom: 5%;
}

.modal-header {
  margin: 0% 5%;
  padding: 0px;
  text-align: center;
}

.modal-title {
  margin-left: 20%;
}

.modal-content {
  width: 80%;
  margin-top: 5%;
  margin-right: 0%;
  margin-left: 10%;
}

.close {
  padding: 0px;
  margin-left: 90%;
  margin-top: 2%;
}

#ModalSignIn {
  margin-left: 10%;
}

#ModalCreatePost {
  margin-left: 25%;
}
