.modal-header {
  margin: 0% 5%;
  padding: 0px;
  text-align: center;
}

.modal-title {
  margin-left: 20%;
  text-align: center;
}

.modal-content {
  width: 80%;
  margin-top: 5%;
  margin-right: 0%;
  margin-left: 10%;
}

.close {
  padding: 0px;
  margin-left: 90%;
  margin-top: 2%;
}

#ModalSignIn {
  margin-left: 10%;
}

.input {
  background-color: lightgray;
  border: 1px solid lightgray;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 5px;
}

.field {
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: bold;
}
.submitBtn {
  margin-top: 20px;
  border-radius: 0px;
  margin-bottom: 5%;
}

.postButtons {
  position: absolute;
  top: 42%;
  right: 43%;
}

.postBtn {
  padding: 5px;
  background-color: goldenrod;
  font-weight: bold;
  font-size: 0.8rem;
}

.blogTite {
  font-size: 150%;
  font-family: "Abel", sans-serif;
  font-weight: bold;
}
.blogText {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.blogAuthor {
  padding: 0px 0px 0px 10px;
  font-family: "Niconne", cursive;
  font-size: 30px;
}

.blogTite {
  text-align: center;
}
.author {
  color: black;
  font-size: 2rem;
}

#blogTitleNew {
  color: black;
}

#blogBody {
  color: black;
  font-size: 1rem;
}

#editSave {
  background-color: rgb(223, 6, 172);
  color: white;
  padding: 5px 5px;
  /* margin-left: 90%; */
  margin-right: 1%;
  float: right;
  outline: none;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

#likeButton {
  background-color: rgb(223, 6, 172);
  color: white;
  padding: 5px 15px;
  margin-top: 2%;
  outline: none;
  border-radius: 2px;
}

#likeText {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
}

#textArea {
  padding: 5px;
  width: 90%;
}

#commentButton {
  background-color: red;
  color: white;
  padding: 5px 15px;
  outline: none;
}

#grayContainer {
  width: 90%;
  background-color: gray;
  padding: 1%;
}

#commentContainer {
}

.commentClass {
  background-color: white;
  margin-right: 1%;
  margin-left: 1%;
  padding: 1%;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
}
